body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0%;
    background-color: #f4f4f4;
    color: #333;


} 
 /* Configura do cabeçalho do projeto   */
header{
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
  


}
/* configura foto do curriculo */
.foto-perfil{
 width: 250px;
 height: 300px;
 border-radius: 80%;
 border: 3px solid white;
}